<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find jaka_description)/urdf/tracer_jaka_zu5.urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jaka_description)/config/tracer_jaka_zu5.rviz" />

</launch>
